<div class="navbar-contain">
  <ul class="d-flex justify-content-around">
    <li class="nav-item">
      <a class="nav-menu" [routerLink]="['home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-menu" [routerLink]="['/resume']">Resume</a>
    </li>
    <li class="nav-item">
      <a class="nav-menu" [routerLink]="['/services']">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-menu" [routerLink]="['/portfolio']">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-menu" [routerLink]="['/blog']">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-menu" [routerLink]="['/contact']">Contact</a>
    </li>
  </ul>
</div>
