
@import "~bootstrap-icons/font/bootstrap-icons.css";

$base-color: #565d6f;
$primary-color: #b3b6be;

:root{
    --data-color-base: #{$base-color};
    --data-color-primary: #{$primary-color};
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
 }

 .main-contain {
    background-color: $base-color;
    height:100vh;
}
 .container {
   color: $primary-color;
   height:100vh;
}
